body {
    background-color: #001220;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-align: left;
    padding-left: 30px;
    color: #cecece;
    font-family: 'Source Sans Pro', sans-serif;
}

#description {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #cecece;
}

#auth {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.auth-links {
    display: inline-block;
    background-color: #672bfd;
    color: white;
    border: 1px solid #000000;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.auth-links:hover {
    color: #ffffff;
    background-color: #251964;
}

form {
    font-family: 'Source Sans Pro', sans-serif;
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #000d17;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #fff;
}

form input {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #001d3a;
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #275f97;
}

.svg-background {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}