body {
    background-color: #1d2e3e;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-align: left;
    padding-left: 20px;
    color: #cecece;
    font-family: 'Source Sans Pro', sans-serif;
}

#description {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #cecece;
}

#auth {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.auth-links {
    display: inline-block;
    background-color: #544caf;
    color: white;
    border: 1px solid #254ca1;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.auth-links:hover {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #4da6ff;
}

form {
    font-family: 'Source Sans Pro', sans-serif;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9em;
}

form input {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #6699CC;
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #275f97;
}